{% load static %}
*{
	padding: 0;
	margin: 0;
	font-family: 'Poppins' sans-serif !important;
	font-weight: bold;
}
html{
	scroll-behavior: smooth!important;
}
:root{
	--color-theme: #ff004f;
}
body{
  width: 100%;
  background-color: black!important;
}
::-webkit-scrollbar {
	width: 7px;
	color: #ffffff;
}

::-webkit-scrollbar-track {
	background: black;
}

::-webkit-scrollbar-thumb {
	background:  var(--color-theme);
	border-radius: 30px;
}
/*** NAVBAR ***/
.main{
	width: 100%;
	height: 100vh;
	background-image: url('images/background.jpg')!important;
	background-size: cover;
	background-position: center;
}
nav{
  margin: 0 75px!important;
}
.navbar-brand{
  font-size: 2.0rem!important;
  font-weight: 600!important;
  color: white!important;
}
.navbar-brand .colored{
	font-size: 2.05rem!important;
  font-weight: 600!important;
  color: var(--color-theme)!important;
}
.nav-item{
  margin: 0 12px!important;
}
.nav-link{
	font-size: 1.2rem!important;
  font-weight: 400!important;
  color: white!important;
  margin: 0!important;
  position: relative!important;
}
.home::after{
	content: '';
	position: absolute;
	background: var(--color-theme);
	width: 100%;
	height: 3px;
	left: 0;
	bottom: 3px;
}
.a::after{
	content: '';
	position: absolute;
	background: var(--color-theme);
	width: 0;
	height: 3px;
	left: 0;
	bottom: 3px;
}
.a:hover::after{
	width: 100%;
	transition: 0.7s;
}
/*** HEADER ***/
.header_content{
	margin: 0% 90px;
	cursor: pointer;
	display: grid;
	align-items: center;
	height: 80vh!important;
	overflow: hidden!important;
}
.header_content h4{
	color: white!important;
	font-size: 2.2rem;
	margin: 20px 0;
	letter-spacing: 2px;
	font-weight: 500;
}
.header_content h1{
	margin: 20px 0;
	color: white;
	font-size: 2.6rem;
	margin: 10px 0;
	letter-spacing: 3px;
	font-weight: 600;
}
.header_content h1 span{
	color: var(--color-theme);
}
.header_content .icons a{
	color: white;
	text-decoration: none;
	font-size: 1.55rem;
	margin: 30px 10px;
}
.header_content .icons a:hover{
	transform: translateY(-10px);
	transition: 0.5s;
}

/**** SECOND SECTION ***/
.second{
	margin: 13vh;
}
.title{
	color: white;
	font-size: 3.1rem;
	margin: 10px 0;
	letter-spacing: 2px;
	font-weight: 600;
}

/** ABOUT ME **/
.about .row{
	align-items: center!important;
	justify-content: center!important;
	height: 100%;
}
.about img{
	width: 100%;
	height: 100%;
}
.about .content p{
	font-size: 1.0rem;
	margin: 10px 0;
	letter-spacing: 1px;
	font-weight: 700;
}

/** SKILLS **/
.skills{
	margin: 18vh 0;
}
.skills .row{
	margin: 3rem 0.5rem!important;
}
.skills .row .box{
	border: 5px white solid;
	border-radius: 10px;
	margin: 12px 7px;
	width: 23%;
	padding: 5px 10px;
	display: flex;
	align-items: center!important;
  justify-content: space-between;
  cursor: pointer;
}
.skills .row .box i,img{
	width: 39px;
	font-size: 39px;
}
.skills .row .box{
	color: white;
	font-weight: 600;
	font-size: 1rem;
}
.skills .row .box:hover{
	border-color: var(--color-theme);
	box-shadow: 0px 0px 1px black, 0 0 20px var(--color-theme), 0 0 3px darkblue;
	transition: 0.3s;
}
/** PROJECTS **/
.projects .title-projects{
	color: white;
	font-size: 2.8rem;
	letter-spacing: 2px;
	font-weight: 600;
}
.projects .row{
	margin: 2rem 0.5rem!important;
	width: 100%!important;
}
.projects .row .box{
/*	background: #1C1C1C;*/
  background: #262626;
	padding: 0!important;
	border-radius: 10px;
	margin: 15px 10px;
	padding: 10px 10px!important;
	min-height: fit-content;
}
.projects .row .box:hover{
	border-color: var(--color-theme);
	filter: drop-shadow(0 0 10px var(--color-theme));
	transform: translateY(-10px);
	transition: 0.5s;
}
.projects .row .box img{
	border-radius: 5px;
	width: 100%;
	height: 27vh;
	display: block;
}
.projects .row .box .content{
	padding: 5px 10px;
}
.projects .row .box .content h4{
	color: white;
	font-size: 1.9rem;
	letter-spacing: 0.5px;
	font-weight: 600;
}
.projects .row .box .content p{
	color: white;
	font-size: 1.0rem;
	letter-spacing: 0.1px;
	font-weight: 400;
	margin-bottom: 15px!important;
}
.projects .row .box .content .learn_more{
	background: var(--color-theme);
	padding: 7px 15px;
	font-weight: 600!important;
	text-decoration: none;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
.projects .row .box .content .learn_more:hover{
	opacity: 0.7;
	transition: 0.1s;
}
/** JOBS **/
.jobs .jobs-title{
	color: white;
	font-size: 2.8rem;
	letter-spacing: 2px;
	font-weight: 600;
}
.jobs .row{
	margin: 3rem auto!important;
}
.jobs .row .box{
	margin: 20px!important;
	position: relative;
	height: 50vh;
	padding: 0!important;
	cursor: pointer;
	overflow: hidden;
}
.jobs .row .box img{
	width: 100%;
	height: 80%;
	padding: ;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	display: block;
	border-radius: 7px!important;
}
.jobs .row .box:hover img{
	transform: scale(1.1);
	transition: 0.5s;
}
.jobs .row .box .layer{
	padding: 0 0.8rem;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	background: linear-gradient(rgba(0,0,0,0.6), #ff004f); 
	flex-direction: column;
	border-radius: 7px!important;
}
.jobs .row .box .layer h3{
	color: white;
	font-size: 1.17em;
	font-weight: 600;
	margin-bottom: 20px;
}
.jobs .row .box .layer p{
	color: white;
	font-size: 0.9rem;
	font-weight: 500;
	margin-bottom: 20px;
}
.jobs .row .box .layer a{
	background: white;
	padding: 20px;
	border-radius: 50%;
}
.jobs .row .box .layer a:hover{
	transform: scale(1.048);
	transition: 0.3s;
}
/** CONTACT **/
.contact{
	border-top: 0.5px solid var(--color-theme);
	padding: 40px 0;
}
.contact .left h4{
	color: white;
	font-size: 2.6rem;
	letter-spacing: 2px;
	font-weight: 600;
	padding: 5px 0;
}
.contact .left p{
	color: white;
	font-size: 1rem;
	font-weight: 500;
	padding: 5px 20px;
}
.contact .left p span{
	font-weight: bold;
}
.contact .right form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.contact .right button{
	background: var(--color-theme);
	padding: 8px 25px;
	text-align: center;
	border-radius: 5px;
	color: white;
	letter-spacing: 0.5px;
	border: 2px solid var(--color-theme);
}
.contact .right button:hover{
	box-shadow: 0px 0px 1px black, 0 0 20px var(--color-theme), 0 0 3px darkblue;
	transition: 0.5s;
}

/*** FOOTER ***/
.footer{
	border-top: 1px solid var(--color-theme);
  width: 100%!important;
  display: flex;
  justify-content: center!important;
  align-items: center;
  text-align: center;
  flex-direction: row;
  padding-top: 10px;
}
.footer p{
	color: white;
}
.footer i{
	color: red;
}
@media(width < 768px){
	.about img{
		display: none;
	}
	.about .row{
		justify-content: flex-start!important;
		align-items: start!important;
	}
}
@media(width < 1000px){
	.jobs .row .box{
		margin: 30px auto!important;
		height: 55vh;
		width: 70%!important;
	}
}
@media(width <= 1000px){
	.main{
		background-image: url('images/background-phone.jpg')!important;
	}
	nav{
		margin: 0 20px!important;
	}
	.header_content{
		margin-left: 25px;
		width: 90%;
	}
	.second{
		margin: 13vh 5vh;
	}
	.skills .row{
		justify-content: center;!important;
		align-items: center;!important;
		margin: 0!important;
	}
	.skills .row .box{
		width: 100%!important;
		margin: 15px;
	}
	.skills{
		margin: 10vh 0vh
	}
	.projects .row{
		justify-content: space-around!important;
		align-items: stretch;!important;
		margin: 0!important;
	}
	.projects .row .box{
		margin: 20px auto;
		min-height: 100%;
	}
	.projects .row .box img{
		height: 30vh;
	}
	.contact .left{
		text-align: center;
	}
	.contact .left p{
		padding: 0!important;
	}
	.contact .right form{
		display: grid;
		width: 100%;
		padding: 0 50px;
	}
}
